@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Satisfy&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #F0F0F0;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(to right, #1a1a2e, #16213e);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  color: #747bff;
}

a {
  color: #F0F0F0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.title {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-top: auto;
}

#hero {
  display: flex;
  justify-content: end;
}

#hero h1 {
  font-size: 4.5rem;
  width: 40%;
  color: transparent;
  background-clip: text;
  background-size: 200%;
  margin: auto;
  background-image: url('./assets/masked-text.png');
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 5s infinite alternate linear;
}

#hero img {
  border-radius: 10%;
  margin-top: -100px;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 50% 40%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@media only screen and (max-width: 768px) {
  #hero h1 {
    width: 90%;
    font-size: 58px;
  }
  #hero img {
    display: none;
  }
}