#add-post_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-post_form input, #add-post_form textarea {
    width: 40%;
    margin-bottom: 10px;
}

#add-post_form textarea {
    height: 250px;
}