.all-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    padding-top: 2rem;
}
.all-posts h2 {
    font-size: 20px;
    line-height: 26px;
}
a {
    color: black;
    text-decoration: none;
}

.grid_single-post {
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}