.all-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    padding: 2rem 3rem;
}

.all-posts h2 {
    font-size: 18px;
    line-height: 26px;
}

a {
    color: black;
    text-decoration: none;
}

.all-posts p {
    font-size: 14px;
}

.grid_single-post {
    border-bottom: 1px solid #92789f;
}

@media only screen and (max-width: 768px) {
    .all-posts {
         grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
      .all-posts {
         grid-template-columns: repeat(1, 1fr);
    }
} 