.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.nav ul {
    display: flex;
     list-style-type: none;
}

.nav ul li {
    margin-right: 30px;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.nav .logo {
    padding-top: 10px;
}